.subsection#evidence_fields(data-title="Evidence Fields")
  fieldset(data-title="Basic Evidence")
    .guide-text
      h3 Transaction data (basic).
      p What types of basic information are you receiving?
    .block
      label(for="evidence_basic_select2") Here are some basic types of transaction data. Which ones are available to you (select all that apply)?
      .pills.pills--checkboxes.pills--inline.js-pills-select2(placeholder="Basic Evidence Fields" multiple)
        each val, key in EVIDENCE_FIELDS.basic
          - id = `evidence_basic_${key.toLowerCase().replace(/ /g, "_")}
          input(type="checkbox" value=key class="pills__input" name="evidence_basic" id=id)
          .tooltip= val
    .controller-wrapper
      button.get-next-view Continue

  fieldset(data-title="Advanced Evidence")
    .guide-text
      h3 Transaction data (advanced).
      p More complex types of information—which are you receiving?
    .block
      label(for="evidence_advanced_select2") Which of the following types of transaction data are available to you (select all that apply)?
      .pills.pills--checkboxes.pills--inline.js-pills-select2(placeholder="Advanced Evidence Fields" multiple)
        each description, field in EVIDENCE_FIELDS.advanced
          - id = `evidence_advanced_${field.toLowerCase().replace(/ /g, "_")}`
          input(type="checkbox" value=field class="pills__input" name="evidence_advanced" id=id)
          .tooltip= description
    .controller-wrapper
      button.get-prev-view
      button.get-next-view Continue

  fieldset(data-title="Sales Method Evidence")
    .guide-text
      h3 Transaction data (sales-method-specific).
      p Based on what we’ve learned so far, we’ve got more suggestions for available data.
    .block
      label(for="evidence_sales_select2") Which of the following are available to you (select all that apply)?
      .pills.pills--checkboxes.pills--inline.js-pills-select2(placeholder="Sales-Method-Specific Evidence Fields" multiple)
        each description, field in EVIDENCE_FIELDS.sales
          - id = `evidence_sales_${field.toLowerCase().replace(/ /g, "_")}`
          input(type="checkbox" value=field class="pills__input" name="evidence_sales" id=id)
          .tooltip= description
    .controller-wrapper
      button.get-prev-view
      button.get-next-view Continue

  fieldset(data-title="Industry Specific Evidence").last-view-in-section
    .guide-text
      h3 Transaction data (industry-specific).
      p Based on your business’ industry, we’ve got more suggestions for available data.
    .block
      label(for="evidence_industry_select2") Do you have access to any of the following (select all that apply)?
      .pills.pills--checkboxes.pills--inline.js-pills-select2(placeholder="Industry-Specific Evidence Fields" multiple)
        each description, field in EVIDENCE_FIELDS.industry
          - id = `evidence_industry_${field.toLowerCase().replace(/ /g, "_")}`
          input(type="checkbox" value=field class="pills__input" name="evidence_industry" id=id)
          .tooltip= description
      .block
        button.get-prev-view
        button.review-subsection Review
        button.get-next-section Next Section
